<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "icon" href ="../imgs/icon.png" type = "image/x-icon">
    <link rel="stylesheet" href="../font/css/all.css" type="text/css"/>
    <link rel="stylesheet" href="../bootstrap337/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/headerfooter.css" type="text/css">
    <link rel="stylesheet" href="../css/textStyle.css" type="text/css">
    <link rel="stylesheet" href="../css/animate.css">
    <script src="../jquery/jquery.js"></script>
    <script src="../js/nav.js"></script>
    <script src="../js/backtotop.js"></script>
    <script src="../bootstrap337/js/bootstrap.js"></script>
    <script src="../jquery/jquery.js/jquery.min.js"></script>
    <script src="../jquery/fullpage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script>
    <script src="../js/trending.js"></script>
    <link rel="stylesheet" href="../css/homepage.css" type="text/css"/>
    <link rel="stylesheet" href="../css/categories.css" type="text/css"/>
    <title><%- post[0].PostTitle %></title>
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="stylesheet" href="../css/article.css" type="text/css">
</head>
<body>
<div id="dnbc-site" class="left relative" style="transform: none">
    <div id="site-wall" class="left relative" style="transform: none">
        <div id="lead-top-wrap">
            <div id="lead-top-in">
                <div id="lead-top">
                    <a href="#" target="_blank">
                        <img class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/04/zoxpress-leader.jpg">
                    </a>
                </div>
            </div>
        </div>
        <div id="site-main">
            <div id="header" class="left relative">
                <div id="sideNavigation" class="sidenav sidenav-left">
                    <div class="brand" id="brand">
                        <a href="/" class="brand-logo">
                            <img src="../imgs/dnbc.png" width="92" height="20" alt="logo">
                        </a>
                        <button class="brand-toggle btn btn-sm" id="aside-toggle" onclick="closeNav()">
                            <i class="fas fa-angle-double-left fa-2x"></i>
                        </button>
                    </div>
                    <div class="aside-menu-wrapper" id="aside-menu-wrapper">
                        <div id="aside-menu" class="aside-menu">
                            <ul class="menu-nav">
                                <li class="menu-item1 menu-item1-active" style="padding-bottom: 30px">
                                    <a href="javascript:;" class="menu-link" style="cursor: default">
                                        <span class="menu-icon menu-icon1"><i class="fas fa-layer-group"></i></span>
                                        <span class="menu-text">Menu</span>
                                    </a>
                                </li>
                                <li class="menu-item1 menu-item-submenu">
                                    <a href="/categories/<%- menu[2].CategoryID %>" class="menu-link">
                                        <span class="menu-icon menu-icon1" id="menu-icon1"><i class="fas fa-globe"></i></span>

                                        <span class="menu-text" id="menu-text1"><%-menu[2].CategoryName %></span>

                                    </a>
                                </li>
                                <li class="menu-item1 menu-item-submenu">
                                    <a href="javascript:;" class="menu-link">
                                        <span class="menu-icon menu-icon1"><i class="fas fa-business-time"></i></span>
                                        <span class="menu-text"><%-menu[0].CategoryName %></span>
                                        <i class="fas fa-chevron-right menu-arrow menu-arrow-normal" id="menu-arrow-normal2" onclick="openSubmenu2()"></i>
                                        <i class="fas fa-chevron-down menu-arrow menu-arrow-open" id="menu-arrow-open2" onclick="closeSubmenu2()"></i>
                                    </a>
                                    <div class="menu-submenu" id="menu-submenu2">
                                        <ul class="menu-subnav">
                                            <li class="menu-item1 menu-item-submenu">
                                                <a href="/categories/<%- submenu[0].CategoryID %>" class="menu-link menu-toggle">
                                                    <span class="menu-bullet">
                                                        -
                                                    </span>
                                                    <span class="menu-text">
                                                     <%-submenu[0].CategoryName %>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="menu-item1 menu-item-submenu">
                                                <a href="/categories/<%- submenu[1].CategoryID %>" class="menu-link menu-toggle">
                                                    <span class="menu-bullet">
                                                        -
                                                    </span>
                                                    <span class="menu-text">
                                                    <%-submenu[1].CategoryName %>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="menu-item1 menu-item-submenu">
                                                <a href="/categories/<%- submenu[2].CategoryID %>" class="menu-link menu-toggle">
                                                    <span class="menu-bullet">
                                                        -
                                                    </span>
                                                    <span class="menu-text">
                                                     <%-submenu[2].CategoryName %>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item1 menu-item-submenu">
                                    <a href="javascript:;" class="menu-link">
                                        <span class="menu-icon menu-icon1"><i class="fas fa-handshake"></i></span>
                                        <span class="menu-text"><%-menu[1].CategoryName %></span>
                                        <i class="fas fa-chevron-right menu-arrow menu-arrow-normal" id="menu-arrow-normal3" onclick="openSubmenu3()"></i>
                                        <i class="fas fa-chevron-down menu-arrow menu-arrow-open" id="menu-arrow-open3" onclick="closeSubmenu3()"></i>
                                    </a>
                                    <div class="menu-submenu" id="menu-submenu3">
                                        <ul class="menu-subnav">
                                            <li class="menu-item1 menu-item-submenu">
                                                <a href="/categories/<%- submenu[3].CategoryID %>" class="menu-link menu-toggle">
                                                    <span class="menu-bullet">
                                                        -
                                                    </span>
                                                    <span class="menu-text">
                                                      <%-submenu[3].CategoryName %>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="menu-item1 menu-item-submenu">
                                                <a href="/categories/<%- submenu[4].CategoryID %>" class="menu-link menu-toggle">
                                                    <span class="menu-bullet">
                                                        -
                                                    </span>
                                                    <span class="menu-text">
                                                   <%-submenu[4].CategoryName %>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item1 menu-item-submenu">
                                    <a href="javascript:;" class="menu-link">
                                        <span class="menu-icon menu-icon1"><i class="fas fa-futbol"></i></span>
                                        <span class="menu-text"> <%-menu[3].CategoryName %></span>
                                        <i class="fas fa-chevron-right menu-arrow menu-arrow-normal" id="menu-arrow-normal4" onclick="openSubmenu4()"></i>
                                        <i class="fas fa-chevron-down menu-arrow menu-arrow-open" id="menu-arrow-open4" onclick="closeSubmenu4()"></i>
                                    </a>
                                    <div class="menu-submenu" id="menu-submenu4">
                                        <ul class="menu-subnav">
                                            <li class="menu-item1 menu-item-submenu">
                                                <a href="/categories/<%- submenu[5].CategoryID %>" class="menu-link menu-toggle">
                                                    <span class="menu-bullet">
                                                        -
                                                    </span>
                                                    <span class="menu-text">
                                                     <%-submenu[5].CategoryName %>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="menu-item1 menu-item-submenu">
                                                <a href="/categories/<%- submenu[6].CategoryID %>" class="menu-link menu-toggle">
                                                    <span class="menu-bullet">
                                                        -
                                                    </span>
                                                    <span class="menu-text">
                                                     <%-submenu[6].CategoryName %>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item1 menu-item-submenu">
                                    <a href="/about-us" class="menu-link">
                                        <span class="menu-icon menu-icon1"><i class="fas fa-address-card"></i></span>
                                        <span class="menu-text"><%-menu[4].CategoryName %></span>
                                    </a>
                                </li>
                                <li class="menu-item1 menu-item-submenu">
                                    <a href="/contact-us" class="menu-link">
                                        <span class="menu-icon menu-icon1"><i class="fas fa-id-card-alt"></i></span>
                                        <span class="menu-text"><%-menu[5].CategoryName %></span>
                                    </a>
                                </li>
                                <li class="menu-item1 menu-item-submenu">
                                    <a href="/advertisement" class="menu-link">
                                        <span class="menu-icon menu-icon1"><i class="fas fa-ad"></i></span>
                                        <span class="menu-text"><%-menu[6].CategoryName %></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="topnav col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="nav-left col-xs-2 col-sm-2 col-md-2 col-lg-1">
                            <a href="#"  class="open-nav" onclick="openNav()">
                                <svg width="30" height="30" id="icoOpen">
                                    <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
                                    <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
                                    <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
                                </svg>
                            </a>
                        </div>
                        <div class="nav-mid col-xs-10 col-sm-10 col-md-10 col-lg-2">
                            <a href="/">
                                <img src="../imgs/dnbc.png" width="150" height="50">
                            </a>
                        </div>
                        <ul class="menu_1 col-lg-9">
                            <li class="dropdown parent-menu">
                                <a href="/categories/<%- menu[2].CategoryID %>" class="menu-item"><%-menu[2].CategoryName %></a>
                            </li>
                            <li class="dropdown parent-menu">
                                <a href="javascript:;"  data-toggle="dropdown" class="menu-item"><%-menu[0].CategoryName %></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="/categories/<%- submenu[0].CategoryID %>"><%-submenu[0].CategoryName %></a></li>
                                    <li><a href="/categories/<%- submenu[1].CategoryID %>"><%-submenu[1].CategoryName %></a></li>
                                    <li><a href="/categories/<%- submenu[2].CategoryID %>"><%-submenu[2].CategoryName %></a></li>
                                </ul>

                            </li>
                            <li class="dropdown parent-menu">
                                <a href="javascript:;"  data-toggle="dropdown" class="menu-item"><%-menu[1].CategoryName %></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="/categories/<%- submenu[3].CategoryID %>"><%-submenu[3].CategoryName %></a></li>
                                    <li><a href="/categories/<%- submenu[4].CategoryID %>"><%-submenu[4].CategoryName %></a></li>
                                </ul>
                            </li>
                            <li class="dropdown parent-menu">
                                <a href="javascript:;"  data-toggle="dropdown" class="menu-item"><%-menu[3].CategoryName %></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="/categories/<%- submenu[5].CategoryID %>"><%-submenu[5].CategoryName %></a></li>
                                    <li><a href="/categories/<%- submenu[6].CategoryID %>"><%-submenu[6].CategoryName %></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
                <div id="site-grid" style="transform: none;margin-top: 0px">
                    <div id="site-wall-small">
                        <div id="main-body-wrap">
                            <div class="section">
                                <div class="container">
                                    <div class="ArticlePage_container col-xs-8">
                                        <div class="ArticleHeader_container">
                                            <div class="article__topic">
                                                <a href="#"><span ><%-post[0].CategoryName%></span></a>
                                            </div>
                                            <div class="ArticleHeader_container_top">
                                                <h1 class="ArticleHeader_headline"><%-post[0].PostTitle%></h1>
                                            </div>
                                            <div class="ArticleHeader_container_bottom">
                                                <div class="ArticleHeader_date_container">
                                                    <div class="Attribution_container"><span class="Attribution_content">Reporting By <%- post[0].PostWriter%></span>
                                                    </div>
                                                    <br>
                                                    <div class="ArticleHeader_date">
                                                        <h4><i class="far fa-clock"></i> <%- post[0].PostDateTime %></h4>
                                                    </div>
                                                </div>
                                                <div class="ArticleHeader_date_container">
                                                    <div id="fb-root"></div>
                                                    <script>(function(d, s, id) {
                                                            var js, fjs = d.getElementsByTagName(s)[0];
                                                            if (d.getElementById(id)) return;
                                                            js = d.createElement(s); js.id = id;
                                                            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                                                            fjs.parentNode.insertBefore(js, fjs);
                                                        }(document, 'script', 'facebook-jssdk'));</script>

                                                    <!-- Your share button code -->
                                                    <div class="fb-share-button icon"
                                                         data-href="http://dnbcglobalnews.herokuapp.com/post"
                                                         data-layout="button_count">
                                                    </div>
                                                    <div class="icon">
                                                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" title="Share on Twitter">Twitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="container">
                                    <div class="ArticlePage_container col-xs-8">
                                        <div class="ArticleBody_container min-height">
                                            <%- post[0].PostContent%>
                                        </div>
                                        <section class="comment-wrapper clearfix">
                                            <div id="comment-form-container">
                                                <form action="/comment" method="post">
                                                    <div class="comment-form-title">
                                                        <h6>Require field are marked<span class="required">*</span></h6>
                                                    </div>
                                                    <div class="form-group col-xs-6">
                                                        <label for="email">Email address<span class="required">*</span></label>
                                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                        <input type="email" name="UserEmail" class="form-control input" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                                                    </div>
                                                    <div class="form-group col-xs-6">
                                                        <label for="name">Full name<span class="required">*</span></label>
                                                        <small id="emailHelp" class="form-text text-muted">You can use your real name or nickname</small>
                                                        <input type="text" name="UserName"  class="form-control input" id="name" placeholder="Your full name" required>
                                                    </div>
                                                    <div class="form-group col-xs-12">
                                                        <label for="comment">Comment <span class="required">*</span></label>
                                                        <textarea name="CommentContent" id="comment" cols="10" rows="2" required maxlength="10000" minlength="2" placeholder="Enter comment"></textarea>
                                                    </div>
                                                    <div class="form-group col-xs-6" style="display: none">
                                                        <input type="number" name="PostID" value="<%-post[0].PostID%>">
                                                    </div>
                                                    <div style="text-align: center">
                                                        <button type="submit" class="btn"><h5>Submit</h5></button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="comment-list">
                                                <span class="box-head">Comment</span>
                                            </div>
                                            <div class="lst-comment" id="listComment">
                                                <ul data-view="listcm">
                                                    <li class="item-comment">
                                                        <div class="top">
                                                            <div class="col-xs-1"><img class="avatar-fb-name img33x33" src="../imgs/commentAvar_01.jpg" alt="none"></div>
                                                            <div class="col-xs-11"><a href="javascript:;" title="" class="name">Đức Phúc</a>
                                                            <span class="minimize">Very good!</span></div>
                                                        </div>
                                                        <div class="comment-datetime">
                                                            <div class="li-right">
                                                                <a class="btn-reply timeago" href="javascript:;" rel="nofollow" title="2020-05-08T10:30:39">2 hours ago</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item-comment">
                                                        <div class="top">
                                                            <div class="col-xs-1"><img class="avatar-fb-name img33x33" src="../imgs/commentAvar_02.jpg" alt="none"></div>
                                                            <div class="col-xs-11"><a href="javascript:;" title="" class="name">Minh Tuấn</a>
                                                                <span class="minimize">very informative. thanks you</span></div>
                                                        </div>
                                                        <div class="comment-datetime">
                                                            <div class="li-right">
                                                                <a class="btn-reply timeago" href="javascript:;" rel="nofollow" title="2020-05-08T10:30:39">8 hours ago</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item-comment">
                                                        <div class="top">
                                                            <div class="col-xs-1"><img class="avatar-fb-name img33x33" src="../imgs/commentAvar_03.jpg" alt="none"></div>
                                                            <div class="col-xs-11"><a href="javascript:;" title="" class="name">Hải Yến</a>
                                                                <span class="minimize">I love this article. thank you</span></div>
                                                        </div>
                                                        <div class="comment-datetime">
                                                            <div class="li-right">
                                                                <a class="btn-reply timeago" href="javascript:;" rel="nofollow" title="2020-05-08T10:30:39">15 hours ago</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <% for(var i=0;i<comment.length;i++){%>
                                                    <li class="item-comment">
                                                        <div class="top">
                                                            <div class="col-xs-1"><img class="avatar-fb-name img33x33" src="../imgs/commentAvar_01.jpg" alt="none"></div>
                                                            <div class="col-xs-11"><a href="javascript:;" title="" class="name"><%-comment[i].UserName%></a>
                                                                <span class="minimize"><%-comment[i].CommentContent%></span></div>
                                                        </div>
                                                        <div class="comment-datetime">
                                                            <div class="li-right">
                                                                <a class="btn-reply timeago" href="javascript:;" rel="nofollow" title="2020-05-08T10:30:39">1 second ago</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <% }%>
                                                </ul>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-3 trendingsl">
                                        <div class="left-content">
                                            <div class="left-content-container">
                                                <div class="bot-ad col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                    <span>advertisement</span>
                                                    <a href="#">
                                                        <img src="http://mvpthemes.com/zoxpress/zoxpress-entertainment1/wp-content/uploads/sites/3/2020/01/zoxpress300x250.jpg">
                                                    </a>
                                                </div>
                                                <div class="bot-trend col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                    <div class="widget-side-head col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        Latest news
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">1</span>
                                                        <a href="/post/<%- trending[0].PostID %>" class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><%-trending[0].PostTitle%></a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">2</span>
                                                        <a href="/post/<%- trending[1].PostID %>" class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><%-trending[1].PostTitle%></a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">3</span>
                                                        <a href="/post/<%- trending[2].PostID %>" class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><%-trending[2].PostTitle%></a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">4</span>
                                                        <a href="/post/<%- trending[3].PostID %>" class="col-xs-10 col-sm-10 col-md-10 col-lg-10"><%-trending[3].PostTitle%></a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">5</span>
                                                        <a href="/post/<%- trending[4].PostID %>" class="col-xs-10 col-sm-10 col-md-10 col-   lg-10"><%-trending[4].PostTitle%></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section background-color">
                                <div class="container">
                                    <div class="article-footer">
                                        <div class="article-footer-head">
                                            <div class="main-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <span class="dnbc-main-title col-xs-6">
                                                    You also may like
                                                </span>
                                                <div class="col-xs-6">
                                                    <a href="/categories/<%-post[0].CategoryID%>" class="more"><h4>More</h4></a>
                                                </div>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3 padding">
                                                <div class="padding">
                                                    <a href="/post/<%-mayLike[0].PostID %>">
                                                        <div class="post-img">
                                                            <img src="../<%- mayLike[0].Link %>">
                                                        </div>
                                                        <p class="third-new"><%- mayLike[0].PostTitle%></p>
                                                    </a>
                                                    <h4><%- mayLike[0].PostWriter%> <i class="far fa-clock"></i> <%- mayLike[0].PostDateTime%></h4>
                                                </div>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <div class="padding">
                                                    <a href="/post/<%-mayLike[2].PostID %>">
                                                        <div class="post-img">
                                                            <img src="../<%- mayLike[2].Link %>">
                                                        </div>
                                                        <p class="third-new"><%- mayLike[2].PostTitle%></p>
                                                    </a>
                                                    <h4><%- mayLike[2].PostWriter%> <i class="far fa-clock"></i> <%- mayLike[2].PostDateTime%></h4>
                                                </div>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <div class="padding">
                                                    <a href="/post/<%-mayLike[4].PostID %>">
                                                        <div class="post-img">
                                                            <img src="../<%- mayLike[4].Link %>">
                                                        </div>
                                                        <p class="third-new"><%- mayLike[4].PostTitle%></p>
                                                    </a>
                                                    <h4><%- mayLike[4].PostWriter%> <i class="far fa-clock"></i> <%- mayLike[4].PostDateTime%></h4>
                                                </div>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <div class="padding">
                                                    <a href="/post/<%-mayLike[1].PostID %>">
                                                        <div class="post-img">
                                                            <img src="../<%- mayLike[1].Link %>">
                                                        </div>
                                                        <p class="third-new"><%- mayLike[1].PostTitle%></p>
                                                    </a>
                                                    <h4><%- mayLike[1].PostWriter%> <i class="far fa-clock"></i> <%- mayLike[1].PostDateTime%></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="back-to-top"><i class="fas fa-chevron-up"></i></div>
                            <footer>
                                <div class="container">
                                    <div class="footer-left col-xs-12 col-sm-12 col-md-2 col-lg-2">
                                        <div class="logo-footer">
                                            <a href="/"><img src="../imgs/dnbc.png" width="180" height="60"></a>
                                        </div>
                                    </div>
                                    <div class="footer-right left col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <ul class="left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <li><a href="/about-us"><%-menu[4].CategoryName %></a></li>
                                            <li><a href="/contact-us"><%-menu[5].CategoryName %></a></li>
                                            <li><a href="/advertisement"><%-menu[6].CategoryName %></a></li>
                                        </ul>
                                        <p class="left col-xs-12 col-sm-12 col-md-12 col-lg-12">Copyright © 2020 DNBC International.</p>
                                    </div>
                                    <div class="footer-right1 col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <a href="#" class="download">
                                            <img src="https://www-growth.scdn.co/static/badges/apple/int.png">
                                        </a>
                                        <a href="#" class="download">
                                            <img src="https://www-growth.scdn.co/static/badges/google/int.png">
                                        </a>
                                        <a href="#" class="download">
                                            <img src="https://www-growth.scdn.co/static/badges/microsoft-windows/int.png">
                                        </a>
                                    </div>
                                    <div class="footer-right2 col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                        <a href="#" class="social-network ftat">
                                            <i class="fab fa-facebook fa-1x"></i>
                                        </a>
                                        <a href="#" class="social-network ftat">
                                            <i class="fab fa-twitter-square fa-1x"></i>
                                        </a>
                                        <a href="#" class="social-network">
                                            <i class="fab fa-instagram fa-1x"></i>
                                        </a>
                                    </div>
                                </div>
                            </footer>
                    </div>
                </div>
        <div id="close-nav" class="close-nav" onclick="closeNav()"></div>
            <script type="text/javascript" src="jQuery/jQuery.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("button").hover(function(){
                        $(this).css("background-color", "#3061ff");
                    }, function(){
                        $(this).css("background-color", "#000");
                    });
                });
                // function unHide() {
                //     $("#comment-form-container").removeClass("inactive");
                // }
            </script>
</body>

